# Compiled class file
bin/
build/
code/
lib/
target/
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/
.settings/
.vscode/
.project
.classpath

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mvn files
mvnw
mvnw.cmd
.mvn/

# mac file
.DS_Store